# Protect application and system files from direct access
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)$|^(cron|install|update)\.php|^(Entries.*|Repository|Root|Tag|Template)$|^\.php_cs(\.dist)?$">
    Order allow,deny
</FilesMatch>

# Protect the framework's sensitive files
<IfModule mod_authz_core.c>
    <Files ".env">
        Require all denied
    </Files>
</IfModule>
<IfModule !mod_authz_core.c>
    <Files ".env">
        Order allow,deny
        Deny from all
    </Files>
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Reroute any requests for static assets to the correct path
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a redirect to the
        # front controller. This requires a mod_rewrite-like hosting environment.
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
